SIAC/SIACWEB/Connected Services/SIACService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SIACBibliotecaClases" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SIACBibliotecaClases" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCLIENTES">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CLIENTES" nillable="true" type="tns:CLIENTES" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCLIENTES" nillable="true" type="tns:ArrayOfCLIENTES" />
  <xs:complexType name="CLIENTES">
    <xs:sequence>
      <xs:element minOccurs="0" name="APELLIDO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CANTON" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTRATOS" nillable="true" type="tns:ArrayOfCONTRATOS" />
      <xs:element minOccurs="0" name="DISTRITO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROVINCIA" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CLIENTES" nillable="true" type="tns:CLIENTES" />
  <xs:complexType name="ArrayOfCONTRATOS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CONTRATOS" nillable="true" type="tns:CONTRATOS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCONTRATOS" nillable="true" type="tns:ArrayOfCONTRATOS" />
  <xs:complexType name="CONTRATOS">
    <xs:sequence>
      <xs:element minOccurs="0" name="CLIENTE" type="xs:decimal" />
      <xs:element minOccurs="0" name="CLIENTES" nillable="true" type="tns:CLIENTES" />
      <xs:element minOccurs="0" name="EMPRESA" type="xs:decimal" />
      <xs:element minOccurs="0" name="EMPRESAS" nillable="true" type="tns:EMPRESAS" />
      <xs:element minOccurs="0" name="FECHAFIN" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FECHAINICIO" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CONTRATOS" nillable="true" type="tns:CONTRATOS" />
  <xs:complexType name="EMPRESAS">
    <xs:sequence>
      <xs:element minOccurs="0" name="CALIFICIACIÓN" type="xs:decimal" />
      <xs:element minOccurs="0" name="CEDULAJURIDICA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTRATOS" nillable="true" type="tns:ArrayOfCONTRATOS" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="NOMBREEMPRESA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAISCASAMATRIZ" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EMPRESAS" nillable="true" type="tns:EMPRESAS" />
</xs:schema>