SIAC/SIACWEB/Connected Services/SIACService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50734/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SIACBibliotecaClases" />
  <xs:element name="TraeClientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraeClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SIACBibliotecaClases" minOccurs="0" name="TraeClientesResult" nillable="true" type="q1:ArrayOfCLIENTES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarClientePorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarClientePorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SIACBibliotecaClases" minOccurs="0" name="BuscarClientePorIdResult" nillable="true" type="q2:CLIENTES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SIACBibliotecaClases" minOccurs="0" name="nuevoCliente" nillable="true" type="q3:CLIENTES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SIACBibliotecaClases" minOccurs="0" name="CrearClienteResult" nillable="true" type="q4:CLIENTES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SIACBibliotecaClases" minOccurs="0" name="clienteEditado" nillable="true" type="q5:CLIENTES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SIACBibliotecaClases" minOccurs="0" name="EditarClienteResult" nillable="true" type="q6:CLIENTES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clienteEliminado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarClienteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>